/*Dynamic class additions to table rows:
	term names such as fall2017, spring2018
	registration_option - course tr is not registered
	registered_course - course tr is registered
*/

/*special processing for display of course data*/
.coursedata_name {
	display:block;
}

.coursedata_coursenumber {
	display: inline-block;
}

.coursedata_subjectname {
	float: right;
}

.coursedata_starttime{
	display: block;
}
.coursedata_endtime{
	display: block;
}

.coursedata_credits {
	clear: right;
	float: right;
}

.coursedata_description {
	clear: right;
	display: block;
}

.coursedata_description_button {
	width: 100%;
	clear: all;
	display: block;
}

/*Styling!*/
/*
Perfect 4th modular scale.
http://www.modularscale.com/?1&em&1.333
*/
html {
	font-size: 1.333em;
}

input[type=button] {
	font-size: 1em;
}

.registration_option {
	background-color: #777777;
}

.registered_course {
	background-color: green;
}

/*phones, custom*/
@media (max-width: 575px) {
	html {
		font-size: 0.75em;
	}
	
	.registration_option, .registered_course {
		width: 300px;
		border-radius: 3px;
		padding: 3px;
		margin: auto;
	}
	
	
}

/*Small devices, landscape phones*/
@media (min-width: 576px) and (max-width: 767px) {
	html {
		font-size: 1em;
	}

	.registration_option, .registered_course {
		max-width: 400px;
		border-radius: 4px;
		padding: 4px;
		margin: auto;
	}
}

/*Medium devices, tablets*/
@media (min-width: 768px) {
	html {
		font-size: 1.333em;
	}
	
	.registration_option, .registered_course {
		max-width: 533px;
		border-radius: 5px;
		padding: 5px;
		margin: auto;
	}
}