html {
  font-size: 1.333em;
  line-height: 1.333em;
}

ul {
	list-style-type: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

nav#links {
	text-align: center;
	background-color: #cccccc;
}

nav#links ul {
	list-style-type: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

nav#links ul li {
	width: auto;
	float: left;
}

nav#links ul li a {
	display: block;
	color: black;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 100px;
	padding: 10px 0px 8px 0px;
	border-radius: 15px;
}

nav#links ul li a:hover {
	background-color: #8c8c8c;
	text-decoration: underline;
}

header h3 {
  margin-top: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: black;
  text-align: center;
  background-color: #cccccc;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  color: black;
}

fieldset, fieldset {
  margin-bottom: 2em;
}

footer {
	position: relative;
	left: 0;
	bottom: 0;
	height: 60px;
	width: 100%;
	text-align: center;
}

p#welcome-footer {
	margin-top: 1.5rem;
}

#login-and-info {
	margin: auto;
	max-width: 30em;
}

section#content {
	margin: auto;
	width: 100%;
	text-align: center;
	padding-bottom: 1.5rem;
}

#username-line, #password-line {
	align-content: center;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}
#button-line {
	align-content: center;
}

input[type=button] {
	font-size: 1em;
}

.Middle {
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 15px;
}
.link-text {
  color: red;
}

#header-img {
	width: 100%;
}

.register_arrow {
	clear: right;
	float: right;
}

#available_courses, #registered_courses {
  display: block;
  border: 2px groove;
}

.coursedata_name {
  display: block;
  font-size: 1.333em;
  width: 100%;
}

section h3 {
  width: 100%;
  background-color: black;
  color: white;
}

.coursedata_coursenumber {
  display: inline-block;
}

.coursedata_subjectname {
  float: right;
}

.coursedata_starttime{
  display: block;
}
.coursedata_endtime{
  display: block;
}

.coursedata_credits {
  clear: right;
  float: right;
}

.coursedata_description {
  clear: right;
  display: block;
}

.coursedata_description_button {
  width: 100%;
  clear: both;
  display: block;
  text-align: center;
  border: none;
  background-color: black;
  color: white;
}

.img360, .img576, .img768 {
  display: none;
}

/*phones, custom*/
@media (max-width: 575px) {
  html {
    font-size: 0.70em;
	line-height: 1.333em;
	width: auto;
  }
  .img360 {
    display: block;
  }

  .img576, .img768 {
    display: none;
  }
  
  .registration_option, .registered_course {
    width: 300px;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    margin: auto;
  }
  
  #available_courses, #registered_courses, #weekly_schedule, #course_searchbars {
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 6px;
  }

  .registration_wrapper {
    max-width: 360px;
  }
}

/*Small devices, landscape phones*/
@media (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: 0.80em;
	line-height: 1.333em;
	width: auto;
  }
  
  .img576 {
    display: block;
  }
  
  .img360, .img768 {
    display: none;
  }

  .registration_option, .registered_course {
    max-width: 400px;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    margin: auto;
  }
  
  #available_courses, #registered_courses, #weekly_schedule, #course_searchbars {
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 8px;
  }

  .registration_wrapper {
    max-width: 576px;
  }
}

/*Medium devices, tablets*/
@media (min-width: 768px) {
  html {
    font-size: 1em;
	line-height: 1.333em;
	width: auto;
  }
  
  .img768 {
    display: block;
  }

  .img360, .img576  {
    display: none;
  }
  
  .registration_option, .registered_course {
    max-width: 533px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
  }
  
  .registration_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 1100px;
    margin: auto;
  }
  
  #available_courses {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
    max-width: 533px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  #registered_courses {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    max-width: 533px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  #weekly_schedule {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    max-width: 533px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  #course_searchbars {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    max-width: 533px;
    padding-left: 5px;
    padding-right: 5px;
  }
}